@import url('https://fonts.googleapis.com/css?family=Rubik');
@import './helpers/variables.scss';

body{
  font-family: 'Rubik', sans-serif;
  background-color: #121212;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-and-refresh {
  display: flex;
  align-items: center;
  margin-right: 60px;
  color: $neutral-light;
}
