@import '../../../helpers/variables.scss';

.filter-container {
    width: 48rem;
    display: flex;
    justify-content: flex-end;
    margin: 12px;
}

.filter-dialouge {
    padding: 16px 4px 0px 4px;
    display: flex;
    flex-direction: column;
    background-color: $neutral-background;
    color: $neutral-light;
    width: 520px;

    legend {
        color: $neutral-light;

        &.Mui-focused {
            color: $neutral-light;
        }
    }

    .location-filter-options {
        color: $neutral-light;
        margin-bottom: 20px;
        margin-left: 48px;

        div {
            margin-right: 8px;
        }

        input {
            color: $neutral-light;
        }
    }
}

label, .dialog-title {
    color: $neutral-light !important;
}

legend {
    line-height: 0 !important;
}

.form {
    height: 120px;
    margin-bottom: 12px;
    margin-left: 48px;
}

.dialog-title{
    background-color: $neutral-background;
    justify-content: flex-end;
    display: flex;
}

.orange-divider {
    height: .25rem;
    background-color: $primary-orange;
    width: 98%;
    align-self: center;
}