@import '../../../helpers/variables.scss';

.filter-container {
    width: 48rem;
    display: flex;
    justify-content: flex-end;
    margin: .75rem;
}

.filter-dialouge {
    padding: 1rem .25rem 0px .25rem;
    display: flex;
    flex-direction: column;
    background-color: $neutral-background;
    color: $neutral-light;
    width: 32.5rem;

    legend {
        color: $neutral-light;

        &.Mui-focused {
            color: $neutral-light;
        }
    }

    .location-filter-options {
        color: $neutral-light;
        margin-bottom: 1.25rem;
        margin-left: 3rem;

        div {
            margin-right: .5rem;
        }

        input {
            color: $neutral-light;
        }
    }
}

label, .dialog-title {
    color: $neutral-light !important;
}

legend {
    line-height: 0 !important;
}

.form {
    height: 7.5rem;
    margin-bottom: .75rem;
    margin-left: 3rem;
}

.dialog-title{
    background-color: $neutral-background;
    justify-content: flex-end;
    display: flex;
}

.orange-divider {
    height: .25rem;
    background-color: $primary-orange;
    width: 98%;
    align-self: center;
}